* {
  box-sizing: border-box;
}

.about-container {
  /* padding: 30px; */
  font-family: sans-serif;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 100px;
}

.about-container h2 {
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 900;
}

.about-container h3 {
  font-size: 20px;
  margin-bottom: 25px;
  color: black;
  font-weight: 900;
}

.about-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 25px;
  
}

.tak {
  background-color: #f5325c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.tak:hover {
  background-color: #d1224a;
}

.abt {
  width: 40%;
}

.photo-block {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo {
  width: 90%;
  height: auto;
  object-fit: contain;
}
