@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  margin: 30px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

}

  /* display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  padding-top: 72px;
  cursor: pointer;
  transition: 0, 4s;
} */

li {
  font-weight: 300;
}

li:hover {
  transition: 0, 4s;
  color: white;
}

.Happy {
  font-weight: bold;
  margin-right: 60px;
}

.card {
display: flex;
flex-direction: column;
align-items: center;
}

.text {
  padding: 15px;
}


h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}
.Asema {
    display: flex;    margin: auto;
}

